In [12]:
import pandas as pd
from scipy.stats import pearsonr
import statsmodels.api as sm

# Data
data = {
    'Year': list(range(1995, 2017)),
    'Bole': [0.95, 0.80, 0.70, 0.70, 0.80, 1.00, 0.10, 0.70, 1.00, 1.00, 2.73, 0.96, 0.90, 1.00, 1.20, 1.30, 1.05, 1.13, 1.11, 1.23, 1.27, 1.71],
    'Tolon': [0.95, 0.70, 0.57, 0.60, 0.70, 0.80, 0.60, 0.48, 0.56, 0.56, 1.60, 0.88, 0.54, 1.20, 1.80, 1.90, 1.70, 1.70, 1.68, 1.43, 1.47, 2.25],
    'Kasena': [0.98, 1.13, 0.48, 0.71, 0.75, 0.79, 0.83, 0.64, 0.62, 0.88, 1.02, 0.70, 0.56, 1.26, 1.38, 0.90, 0.80, 1.11, 0.60, 0.56, 0.80, 0.80],
    'Wa': [1.20, 1.10, 1.12, 1.10, 1.03, 1.00, 0.90, 0.90, 0.90, 1.03, 0.50, 0.36, 1.04, 1.58, 1.40, 1.20, 1.04, 1.00, 0.97, 0.98, 0.98, 1.11],
    'Nandom': [0.99, 0.70, 0.60, 0.60, 0.70, 0.50, 0.30, 0.60, 1.00, 1.00, 0.61, 0.46, 0.50, 1.40, 1.60, 1.62, 1.45, 1.50, 1.48, 1.45, 1.49, 1.49]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Initialize dictionary to store results
results = {
    'Location': [],
    'Pearson Correlation': [],
    'P-value': [],
    'R-squared': []
}

# Calculate correlations and p-values
locations = ['Bole', 'Tolon', 'Kasena', 'Wa', 'Nandom']
for loc in locations:
    pearson_corr, p_value = pearsonr(df['Year'], df[loc])
    model = sm.OLS(df[loc], sm.add_constant(df['Year'])).fit()
    r_squared = model.rsquared
    
    results['Location'].append(loc)
    results['Pearson Correlation'].append(pearson_corr)
    results['P-value'].append(p_value)
    results['R-squared'].append(r_squared)

# Convert results to DataFrame
results_df = pd.DataFrame(results)
print(results_df)

  Location  Pearson Correlation   P-value  R-squared
0     Bole             0.434608  0.043256   0.188884
1    Tolon             0.781477  0.000018   0.610706
2   Kasena             0.033935  0.880828   0.001152
3       Wa             0.015265  0.946243   0.000233
4   Nandom             0.749979  0.000058   0.562469

In [13]:
results_df.to_csv('final.csv')

In [14]:
data= pd.read_csv('final.csv')
data

   Unnamed: 0 Location  Pearson Correlation   P-value  R-squared
0           0     Bole             0.434608  0.043256   0.188884
1           1    Tolon             0.781477  0.000018   0.610706
2           2   Kasena             0.033935  0.880828   0.001152
3           3       Wa             0.015265  0.946243   0.000233
4           4   Nandom             0.749979  0.000058   0.562469